doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    .container-lecture
      section(class="header")
        h3(class="headline") 시간표 만들기

      section(class="section-nav")
        form(id="search-form" class="form-search")
          input(type="text" placeholder="강의 검색" class="form-control")
          span
            i(class="material-icons ic-search") search

        ul(class="list-lecture")
          
      section(class="section-list")
        .container-xl
          //- header(class="header-timetable-info")
          //-   h3 2019년 11월
          //-   .btn-group(role="group")
          //-     button(type="button" class="btn btn-light btn-previous")
          //-       i(class="material-icons ic-previous") chevron_left
          //-     button(type="button" class="btn btn-light btn-today") 오늘
          //-     button(type="button" class="btn btn-light btn-next")
          //-       i(class="material-icons ic-next") chevron_right

          .table-schedule
            .timeline
              ul
                li
                  span 09:00
                li
                  span 09:30
                li
                  span 10:00
                li
                  span 10:30
                li
                  span 11:00
                li
                  span 11:30
                li
                  span 12:00
                li
                  span 12:30
                li
                  span 13:00
                li
                  span 13:30
                li
                  span 14:00
                li
                  span 14:30
                li
                  span 15:00
                li
                  span 15:30
                li
                  span 16:00
                li
                  span 16:30
                li
                  span 17:00
                li
                  span 17:30
                li 
                  span 18:00

            .table-schedule-subject
              ul(class="list-lecture-item")
                li(class="timeline-vertical")
                  .top-info
                    h4(class="day") Mon
                  ul
                    
                li(class="timeline-vertical")
                  .top-info
                    h4(class="day") Tue
                  ul
                  
                li(class="timeline-vertical")
                  .top-info
                    h4(class="day") Wed
                  ul
                      
                li(class="timeline-vertical")
                  .top-info
                    h4(class="day") Thu
                  ul
                        
                li(class="timeline-vertical")
                  .top-info
                    h4(class="day") Fri
                  ul
                            
    .modal.fade(id="modal-lecture-info" role="dialog" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;    
          
          .modal-body
            h3(class="lecture-title") 웹 프로그래밍
            ul(class="lecture-info")
              li(class="lecture-time")
                i(class="material-icons ic-lecture-info") access_alarm
                span 강의 시간 : 09:00 - 10:50 | (월), (수)
              
              li(class="lecture-code")
                i(class="material-icons ic-lecture-info") code
                span 교과목 코드 : A0000001
              
              li(class="lecture-code")
                i(class="material-icons ic-lecture-info") school
                span 담당 교수 : 김진수

              li(class="lecture-code")
                i(class="material-icons ic-lecture-info") business
                span 강의실 : 공학관 204

            .lecture-description
              p(class="txt-description") 본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 
                | 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및 실무 능력을 갖출 수 있도록 합니다.

            .modal-footer
                button(type="button" class="btn btn-light" data-dismiss="modal") 취소
                button(type="button" class="btn btn-primary" id="regist-lecture") 과목 등록하기

    .modal.fade(id="modal-lecture-task" role="dialog" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            h3(class="lecture-title") 웹 프로그래밍
            ul(class="lecture-info")
              li(class="lecture-time")
                i(class="material-icons ic-lecture-info") access_alarm
                span 강의 시간 : 09:00 - 10:50 | (월), (수)
              li(class="lecture-code")
                i(class="material-icons ic-lecture-info") code
                span 교과목 코드 : A0000001
              li(class="lecture-code")
                i(class="material-icons ic-lecture-info") school
                span 담당 교수 : 김진수
              li(class="lecture-code")
                i(class="material-icons ic-lecture-info") business
                span 강의실 : 공학관 204

              .lecture-description
                p(class="txt-description") 본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및
                        |실무 능력을 갖출 수 있도록 합니다.

              .lecture-memo
                h5(class="memo-header") 메모
                ul

          .modal-footer
            .left
              button(class="btn btn-light-primary" type="button" data-toggle="popover" data-trigger="click" data-placement="right" data-html="true") 메모 등록
            .right
              button(type="button" class="btn btn-light" data-dismiss="modal") 확인
              button(type="button" class="btn btn-danger") 과목 삭제하기

    div(id="PopoverContent" style="display:none")
      h5(class="schedule-title") 메모 등록하기
      .form-group
        label(class="col-form-label") 제목
          input(class="form-control" type="text" role="dialog" aria-hidden="true")
      .form-group
        label(for="message-text" class="col-form-label") 설명
        textarea(class="form-control" id="message-text" placeholder="설명 추가")
      button(type="button" class="btn btn-primary btn-save") 등록
  
  script(src="/js/index.js" type="module")